mixin picture(pictureProps = {})
  picture(class= pictureProps.pictureBoxClass)&attributes(attributes)
    if pictureProps.sources
      each source in pictureProps.sources
        source(
          type="image/" + source.format,
          media="(max-width: " + source.maxWidth + "px)", srcset="img/" + pictureProps.path + "/" + source.image + "." + source.format + ", " + "img/" + pictureProps.path + "/" + source.image + "@2x." + source.format + " 2x"
        )
    source(
      type='image/webp',
      srcset="img/" + pictureProps.path + "/" + pictureProps.image + ".webp" + ", " + "img/" + pictureProps.path + "/" + pictureProps.image + "@2x.webp" + " 2x"
    )
    img(
      src="img/" + pictureProps.path + "/" + pictureProps.image + "." + pictureProps.format,
      srcset= "img/" + pictureProps.path + "/" + pictureProps.image + "@2x." + pictureProps.format + " 2x",
      width= pictureProps.width,
      height= pictureProps.height,
      alt= pictureProps.altText
    )
